{% extends 'base.html.twig' %}

{% block title %}Edit Atelier{% endblock %}

{% block body %}
    <h1>Edit Atelier</h1>

    <div class="card w-75 p-3 mx-auto border border-secondary bg-light">
        <div class="card-body bg-light" >

            {{ include('layers/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('layers/_delete_form.html.twig') }}
            <a href="{{ path('app_atelier_index') }}">back to list</a>

            </div>
    </div>


{% endblock %}
