{% extends 'base.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}
    <h1>Bienvenu.e ! </h1>
    <br>

    <fieldset class="border border-secondary">
        <p>Bienvenu.e sur notre site ! </p>
        <p>Ici vous pouvez créer un nouvel atelier, le modifier, et voir la liste au complet de nos ateliers proposés !</p>
    </fieldset>

    <br>
    <br>
    <h5><u> Programmeurs de talent qui méritent une magnifique note ✨ : </u></h5>
    <ul class="border border-secondary">
        <li>
        KOUKOUGNON Lehion Alexia
        </li>
        <li>
        MBANGANA ENGONGOLO Rebeca
        </li>
        <li>
        PROUST Olivia
        </li>
        <li>
        TERTEREAU Rhayan
        </li>
    </ul>
{% endblock %}
