{% extends 'base.html.twig' %}

{% block title %}Nouvel Atelier{% endblock %}

{% block body %}
    <h1 class="text-uppercase">Créer un nouvel Atelier</h1>
    <br>
    {{ include('layers/_form.html.twig') }}

    <a href="{{ path('app_atelier_index') }}">back to list</a>
{% endblock %}
