{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <h1 class="text-uppercase nav justify-content-center"><u>Atelier {{ atelier.nom }} </u></h1>
    <br>

    {{ include('layers/_show_atelier.html.twig') }}

{% endblock %}
