{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

        #apprenti-identity {
            margin-bottom: 5vh;
            background-color: #758f7e;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div id="apprenti-identity" class="card">
            <div class="card-body">
                <h2 class="card-title nav justify-content-center">Apprenti : {{ apprenti.nom|upper }} {{ apprenti.prenom }}</h2>
            </div>
        </div>
        <div id="apprenti-atelier">
            <h2 class="text-uppercase nav justify-content-center"> <u> Mes Ateliers</u></h2>
            <br>
            {% for atelier in ateliers %}
                {{ include('layers/_list.html.twig') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
