{% if not (app.user in atelier.apprentis) %}
    <button onclick="location.href='{{ path('app_atelier_inscription', {'id': atelier.id}) }}'"
            title="Inscription" class="col-2 btn btn-warning">Inscription à l'atelier</button>
{% endif %}